img{
    max-width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.logo {
    max-height: 600px;
    height: 60vh;
}

.Image-1{
    max-height: ;
    height: 35vh;
}

.Image-2{
    max-height: 600px;
    height: 35vh;
}
.Image-3{
    max-height: 600px;
    height: 35vh;
}  
.Image-4{
    max-height: 600px;
    height: 35vh;
}
.Image-5{
    max-height: 600px;
    height: 35vh;
}
.Image-6{
    max-height: 600px;
    height: 35vh;
}
.Image-7{
    max-height: 600px;
    height: 22vh;
}
.Image-8{
    max-height: 600px;
    height: 40vh;
}
.Image-9{
    max-height: 600px;
    height: 40vh;
}
.Image-10{
    max-height: 600px;
    height: 25vh;
}
.Image-11{
    max-height: 600px;
    height: 25vh;
}
.Image-12{
    max-height: 600px;
    height: 35vh;
}
.Image-13{
    max-height: 600px;
    height: 35vh;
}
.Image-14{
    max-height: 600px;
    height: 35vh;
}
.Image-15{
    max-height: 600px;
    height: 35vh;
}
.Image-16{
    max-height: 600px;
    height: 35vh;
}

