body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1777d1;
    color: black;
}

.container {
    width: 80%;
    max-width: 1600px;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
}

.image-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section-title {
    font-weight: bold;
    margin-top: 20px;
    border-radius: 15px;
}

.contact {
    margin-top: 20px;
    font-weight: bold;
}

h1, h2, p {
    border-radius: 15px;
    padding: 7px;
}

h1, h2 {
    background-color: palevioletred;
    font-size: 1.9em;
}

h3, p {
    background-color: rgb(248, 247, 249);
    color: black;
}

p{
    font-size: 1.7em;
}

@media (max-width: 768px) {
    p{
        font-size: 1em;
    }

    h1, h2 {
        font-size: 1.2em;
    }
}